<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Checkout</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>Checkout Stripe</h1>
        <form action="/createcheckoutsession" method="POST">
            <input type="email" name="emailUser" value="vittorfonsecaserra97@hotmail.com" id="">
            <input type="hidden" name="priceId" value="price_1NFK9rIbcEgeFqaqxYcwn244" />
            <button type="submit">Checkout</button>
        </form>
    </body>
</html>
